RESEND_API_KEY=
CONTACT_TO_EMAIL=info@alittleunlimited.com
CONTACT_FROM_EMAIL=A Little Unlimited Website <onboarding@resend.dev>
MAILCHIMP_API_KEY=
MAILCHIMP_AUDIENCE_ID=
MAILCHIMP_SERVER_PREFIX=
MAILCHIMP_DOUBLE_OPT_IN=false
MAILCHIMP_TAGS=website,homepage
